$primary-black: #141414;
$secondary-bg-color: #2b2b2b;
$third-color: #3e3e3e;
$border-color: #717171;
$accent-color: #55b776;
$stepbar-accent-color: #55b776;
$stepbar-color: #ffffff;

$default-font: 'Athiti', sans-serif;